absl-py==0.11.0
astor==0.8.1
atari-py==0.2.6
cached-property==1.5.2
certifi==2020.11.8
cffi==1.14.6
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
configparser==5.0.1
cycler==0.10.0
Cython==0.29.21
docker-pycreds==0.4.0
fasteners==0.16.3
future==0.18.2
gambit==16.0.1
gast==0.4.0
gitdb==4.0.5
GitPython==3.1.11
glfw==2.3.0
grpcio==1.33.2
gym==0.15.7
h5py==3.1.0
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-streams==0.5
Markdown==3.3.3
matplotlib==3.3.2
mock==4.0.2
mpi4py==3.0.3
mujoco-py==2.0.2.7
numpy==1.17.5
opencv-python==4.4.0.46
pandas==1.1.4
pathtools==0.1.2
Pillow==8.0.1
promise==2.3
promise-keeper==0.4
protobuf==3.13.0
psutil==5.7.3
pyaml==21.10.1
pycparser==2.20
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
-e git+https://github.com/openai/safety-gym@f31042f2f9ee61b9034dd6a416955972911544f5#egg=safety_gym&subdirectory=../../safety-gym
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.5.4
sentry-sdk==0.19.4
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
-e git+https://github.com/tahaeghtesad/stable-baselines@b3f414f4f2900403107357a2206f80868af16da3#egg=stable_baselines&subdirectory=../../stable-baselines
subprocess32==3.5.4
tabulate==0.8.9
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==3.1.0
tqdm==4.51.0
urllib3==1.26.2
wandb==0.10.14
watchdog==0.10.4
Werkzeug==1.0.1
xmltodict==0.12.0
zipp==3.4.0
